body {
    background: #ffffff;
}

* {
    font-family: serif
}

.main_content{
    width: 100%;
    min-width: 36em;
    background-color: #666666;
    margin-top: 1em;
}

.clearfix:after {
    display: block;
    clear: both;
}

/*----- START Navigation Style -----*/

.menu-wrap {
    width:100%;
    min-width: 36em;
    height: 4em;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#830300;
}
 
.menu {
    max-width:36em;
    margin:0px auto;
}
 
.menu li {
    margin:0px;
    list-style:none;
}
 
.menu a {
    transition:all linear 0.15s;
    color: #ffffff;
    text-decoration: none;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    font-size: 110%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:100%;
    background: #830300;
}
 
.menu > ul > li > a {
    padding:10px 35px;
    display:inline-block;
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#DC143C;
}

/*---- Bottom Level ----*/

.sub-menu {
    width: 160%;
    padding: 5px 0px;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: -1;
    opacity: -1;
    transition: opacity linear 0.15s;
    border-top: .2em solid #ffffff;
    background: #830300;
}

.menu li:hover .sub-menu {
    z-index: 1;
    opacity: 1;
}

.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
    font-size: 16px;
}

.sub-menu li a:hover {
    background:#DC143C;
    font-size: 17.5px;
}

.sub-menu .current-item a {
    background:#DC143C;
    font-size: 16;
}

/*-- END Navigation Style --*/

/*-------- START Main Cat Title -------*/

.main_cat_title {
	font-family: fantasy;
    font-size: 1.2em;
    color: #830300;
	margin: 0px auto;
	text-align: center;
	
}

/*-------- END Main Cat Title -----------*/

/*-------- START Box Links --------*/

/* the box links itself */
.main_content a:link, a:visited {
    display: block;
    font-weight: bold;
    color: #ffffff;
    background-color: #830300;
    width: 100px;
	height: 100px;
    text-align: center;
	margin-left: 0.5em;
	margin-right: 0.5em;
    padding: 4px;
	border-radius: 25px;
    text-decoration: none;
	float: left;
}
/* text of the box links */
.function_text{
	margin-top: 40%;
} 
/* upper layer that holds boxes 1-3 on function library and boxes 8 & 9 on pseudo library */
.upper_boxes{
	width: 38em;
	height: 6.8em;
	margin: auto;
	display: block;
}
/* Java box link */
.box_link1{
	margin-left:25%;

}

/* C box link */
.box_link2{
	margin-left:45%;
	
}

/* C++ box link */
.box_link3{
	margin-left:65%;
}

/* Data Structures box link */
.box_link8{
	margin-left:35%;
}

/* Algorithms box link */
.box_link9{
	margin-left:55%;
}

/* lower layer that holds boxes 4-7 in fuction library and boxes 10 & 11 in pseudo library */
.lower_boxes {
	margin: auto;
	margin-top: 1em;
	width: 38em;
	display: block;
}

/* HTML box link */
.box_link4{
	margin-left:15%;
}

/* CSS box link */
.box_link5{
	margin-left:35%;
}

/* JavaScript box link */
.box_link6{
	margin-left:55%;
}

/* PHP box link */
.box_link7{
	margin-left:75%;
}

/* Design Patterns box link  */
.box_link10{
	margin-left:35%;
}

/* Math formulas box link */
.box_link11{
	margin-left:55%;
}
/*-------- END Box Links ----------*/

/*------ START Header ------*/

#masthead{
    max-width: 26em;
    height: 5em;
    margin: 0px auto;
}

#header_name {
    font-family: serif;
    font-size: 5em;
    color: #830300;
    text-shadow: -1px 0 black, 0 0 black, 2px 0 black, 0 -.5px black;
    text-decoration: none;
}

@media only screen and (max-width: 30em){
    #header_name{font-size: 16.5vw;}
}
    
/*-------- END Header -------*/

/*--- START Sticky Footer ---*/

html, body {
    height: 100%;
}

.file_wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.footer, .push_footer {
    height: 4em;
}

/*---- END Sticky Footer ----*/
